
        body{
            text-align: center;
            color:white;
            margin:0;
            padding:0;
            background:url(assets/wallpaper3.jpeg);
            background-position: center;
            background-size:cover;
            background-repeat:no-repeat;
            box-shadow:inset 0 0 0 2000px rgba(6, 62, 114, 0.4); /*ova ti e za da ima overlay na slikata plav!*/
            height:100%;
            width:100%;
        }
        .container{
            text-align:center;
            padding-top:100px;
        }

        h1{
            font-size:60px;
        }
        p{
            font-size:20px;
        }

        .crossed{
            text-decoration: line-through;
        }
